// 对相关 css 设置做定制
// 以下设置将覆盖 just-the-docs theme 原有对应数值

body {
    // font-family: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";
    // font-size: inherit;
    // line-height: 1.4;
    // color: #5c5962;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    color: #24292e !important;
}

h1 {
    font-size: 2em !important; // 32px
}

h2 {
    font-size: 1.5em !important; // 24px
}

h3 {
    font-size: 1.25em !important; // 20px
}