
body {
    // font-family: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";
    // font-size: inherit;
    // line-height: 1.4;
    // color: #5c5962;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    color: #24292e;
}

h1 {
    font-size: 2rem !important; // 32px
}

h2 {
    font-size: 1.5rem !important; // 24px
}

h3 {
    font-size: 1.125rem !important; // 20px
}